In [3]:
import pandas as pd

df = pd.read_csv('unemployment_data_1.csv')

df.head()

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,7.79,7.72
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,10.81,10.81
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,4.86,4.92
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,4.05,4.03
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,20.84,19.03

In [5]:
df.loc[0]

Country Name    Africa Eastern and Southern
Country Code                            AFE
1991                                    7.8
1992                                   7.84
1993                                   7.85
1994                                   7.84
1995                                   7.83
1996                                   7.84
1997                                   7.86
1998                                   7.81
1999                                   7.79
2000                                   7.72
Name: 0, dtype: object

In [ ]:
df.groupby('Country Code').agg({'1991' : 'mean'})